body, html {
  height: 100%;
}

.mercury { 
  width: 280px; 
  height: 280px; 
  padding: 6px 0px; 
  border-radius: 200px; 
  font-size: 8px; 
  text-align: center; 
  margin-left:40.5%;
  margin-top:17%;
  background-color: transparent;
  color-rendering: transparent;
}

.mau{

  width: 45%;
  height: 80%;

  margin-left:10%;
  margin-top:2%;

  float: left;

  color: white;

}

.bg3 {
  
  background-image: url("imagenes/alliesnbg.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg2 {
  /* The image used */
  background-image: url("imagenes/more_us.png");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg {
  /* The image used */
  background-image: url("imagenes/bj_1.png");

  /* Full height */
  height: 100%;
  background-color: red;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.lv {
  /* The image used */
  background-image: url("imagenes/lv.png");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.ul-wrapp{

  margin-top:200px;
  

}

.nickname {

  margin-left:180px;
  margin-top:340px;
  float: left;
  width: 300px;
  height:50px;
  
}

.start {
 
  margin-left:180px;
  margin-top:100px;
  float: left;
  width: 300px;
  height:50px;
  border: 1px solid black;


}

.allies{

  width: 45%;
  height: 80%;

  margin-left:10%;
  margin-top:0%;

  float: left;

  color: white;

}

.img1 { 

  float: left;

  margin-left:5%;

}