body, html {
  height: 100%;
}

.main-wrapper{

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.bg {
  /* The image used */
  background-image: url("imagenes/bj_1.png");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.lv {
  /* The image used */
  background-image: url("imagenes/lv.png");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.ul-wrapp{

  margin.top:200px;
  

}

.nickname {

  margin-left:180px;
  margin-top:340px;
  float: left;
  width: 300px;
  height:50px;
  
}

.start {
 
  margin-left:180px;
  margin-top:100px;
  float: left;
  width: 300px;
  height:50px;
  border: 1px solid black;


}