body, html {
  height: 100%;
}

.main-wrapper{

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.Spafy { 
  width: 100px; 
  height: 100px; 
  padding: 6px 0px; 
  border-radius: 200px; 
  font-size: 8px; 
  text-align: center; 
  margin-left:46%;
  margin-top:45.6%;
  background-color: transparent;
  color-rendering: transparent;
  border-color: transparent;
} 
.mercury { 
  width: 280px; 
  height: 280px; 
  padding: 6px 0px; 
  border-radius: 200px; 
  font-size: 8px; 
  text-align: center; 
  margin-left:40.5%;
  margin-top:17%;
  background-color: transparent;
  color-rendering: transparent;
  border-color: transparent;
} 

.bg {
  /* The image used */
  background-image: url("imagenes/bj_1.png");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sp {
  /* The image used */
  background-image: url("imagenes/sp.png");

  /* Full height */
  height: 100%;

  width: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1{

  color: white;

}

.put{

  color: white;
   margin-top:140px;
   margin-left:240px;

}

.qs {
  /* The image used */
  background-image: url("imagenes/questions.png");

  /* Full height */
  height: 100%;

  width: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.lv {
  /* The image used */
  background-image: url("imagenes/lv.png");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.ul-wrapp{

  margin.top:200px;
  

}

.nickname {

  margin-left:180px;
  margin-top:340px;
  float: left;
  width: 300px;
  height:50px;
  
}

.start {
 
  margin-left:180px;
  margin-top:100px;
  float: left;
  width: 300px;
  height:50px;
  border: 1px solid black;


}